name: build_and_deploy.yml
on:
  push:
    branches:
      - master
      - main
    paths:
      - .github/**
  workflow_dispatch:
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: 'development'
    env:
      VERSION: '1.1.0'
      IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/sac:$VERSION
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: Download_Java-21
        uses: actions/setup-java@v5
        with:
          distribution: 'oracle'
          java-version: '21'
      - name: docker-login
        uses: docker/login-action@v3
        with:
          registry: 'docker.io'
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: build-image
        run: |
          ./mvnw spring-boot:build-image \
          -Dspring-boot.build-image.imageName=${{ env.IMAGE_NAME }} \
          -Dspring-boot.build-image.publish=true